.formContainer{
    padding:30px;
    background-color: #4a4e69c2;
    max-width: 600px;;
    border-radius: 1rem;
}


.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formStyle div{
    margin-bottom:20px;
    width:100%;
    display: flex;
    flex-direction: column;
}

.formStyle div label{
    text-align: start;
    margin-bottom:5px;
    font-size: 16px;
    margin-left:5px;
    color:#ffffff;
}
.formStyle div input{
    width:100%;
    padding-left:15px;
    box-sizing: border-box;
    height:40px;
    font-size: 16px;
}

.formStyle button{
    margin:0px auto;
    padding:12px 30px;
    font-size:18px;
    border-radius: 0.6rem;
    border:none;
    background-color: var(--hardB);
    color:#ffffff;
    transition:all 200ms ease;
}
.formStyle button:hover{
    cursor: pointer;
    background-color: var(--med2);
}
.formStyle button:active{
    background-color:var(--med3)
}

.formHeader{
    align-self: center;
    margin:0;
    color:#ffffff;
    font-size: 40px;
}  
