.projectPageContainer{
    
    display: flex; 
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
    padding:20px;
}

.projectPage{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
}

.projectPage .teamPanelStyle{
    width:38%;
}

.projectPage .ticketsPanelStyle{
    width:60%;
}

.loadingStyle{
    margin-top:15%;
}