.projectPageContainer{
    display: flex; 
    flex-direction: column;
    width:100%;
    /* overflow: hidden; */
}

.projectPage{
    display: flex;
    /* width:100%; */
    justify-content: space-around;
    padding:20px;
}

.projectPage .teamPanelStyle{
    width:35%;
}

.projectPage .ticketsPanelStyle{
    width:60%;
}