@import "../../styles/mixins";
@import "../../styles/variables";

.sidebarContainer{
    width:$sidebar-desktop-width;
    position:sticky;
    left:0;
    top:80px;
    height:calc(100vh - 80px);
    background-color:var(--hardB);
    @include tablet{
        width:$sidebar-tablet-width;
    }
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0;
    margin:0;
}

.sidebarMenu a li {
    padding:15px 0 15px 30px;
    max-width:100%;
    transition: all 120ms ease-in;
    @include tablet{
        padding:10px 0 15px 10px;
    }
    /* color:var(--lightB); */
}

.sidebarMenu a{
    text-decoration: none;
    /* color:#000000; */
    color:var(--lightB);
    font-size:20px;
    font-weight: 700;
    text-align: left;
    width:100%;
    height:100%;
    display: block;
    @include tablet{
        font-size:12px;
    }
}

.sidebarMenu a li:hover{
    background-color: var(--lightB);
    color:var(--hardB);
}


.active li{
    background-color: var(--med3);
    color:var(--hardB);
}