.formContainer{
    padding:30px;
    background-color: #4a4e69c2;
    max-width: 600px;;
    border-radius: 1rem;
}


.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* margin:20px 0; */
}
.formStyle ul{
    margin:10px 0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formStyle ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:80%;
    padding:5px 10px;
}
.formStyle ul li:hover{
    background-color: red;
}


.formStyle ul li input {
    display: block;
    justify-self: flex-end;
    color:red;
    padding:5px;
}


.formStyle .formControl{
    display: flex;
    width:100%;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 1.1;
    color:#ffffff;
}

.formStyle .formControl:hover{
    cursor: pointer;
}






.formStyle button{
    margin:0px auto;
    padding:12px 30px;
    font-size:18px;
    border-radius: 0.6rem;
    border:none;
    background-color: var(--hardB);
    color:#ffffff;
    transition:all 200ms ease;
}
.formStyle button:hover{
    cursor: pointer;
    background-color: var(--med2);
}
.formStyle button:active{
    background-color:var(--med3)
}

.formHeader{
    align-self: center;
    margin:0;
    color:#ffffff;
    font-size: 40px;
}  





