.headerStyle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: var(--hardB);
    padding:0 0 0 150px;
    z-index:10;
}

.logoStyle a {
    text-decoration: none;
}

.logoStyle a h1{
    color:var(--med3);
}



ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

ul li{
    display: flex;
    align-items: center;
}

.anchorStyle {
    color:var(--med3);
    font-size:20px;
    margin-left:40px;
    text-decoration: none;
}



.dropdown {
    position: relative;
    display: inline-block;
    margin-right:20px;
}

.dropButton{
    border:none;
    background-color:var(--med1);
    font-size:20px;
    padding:8px 30px;
    color:#000000;
}

.dropButton:hover{
    cursor: pointer;
    background-color:var(--med1);
}
.dropButton:active{
    cursor: pointer;
    background-color:var(--med2);
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
    display: none;
    position: absolute;
    right:0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border:none;
    border-radius:5px 0px 5px 5px;
    padding:20px 0;
    background-color:var(--med1);
}



.dropdownContent a{
    color:var(--med3);
    font-size:20px;
    text-decoration: none;
    padding:5px 20px;
    width:200px;
    display: inline-block;
    box-sizing: border-box;
    background-color:var(--med1);
    color:black;
    /* text-align: start; */
}
.dropdownContent a:hover{
    background-color:var(--med2);
}

.show {
    /* display:block; */
    display: flex;
    flex-direction: column;
}

.anchorStyle,.dropDown:hover{
    color:var(--med1);
}