@import "../../styles/mixins";
@import "../../styles/variables";

.headerStyle {
    position:sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    background-color: var(--hardB);
    padding:0 0 0 150px;
    z-index:10;
    @include mobile{
        // padding:0 0 0 40px;
        height:auto;
        flex-direction: column;
        padding:0;
        ul{
            padding:0;  
            margin:0 0 20px 0;
            a{
                margin:0;
            }
        }
    }
}

.logoStyle a {
    text-decoration: none;
}



.logoStyle a h1{
    color:var(--med3);
    transition: all 200ms ease;
}

.logoStyle a h1:hover{
    color:var(--med1)
}



ul {
    list-style-type: none;
    display: flex;
    margin-right: 30px;
}

ul li{
    display: flex;
    align-items: center;
}

.anchorStyle {
    color:var(--med3);
    font-size:20px;
    margin-left:40px;
    text-decoration: none;
    transition: all 200ms ease;
}

.anchorStyle:hover{
    color:var(--med1);
}
