.formContainer {
    width:100%;
    margin:0 auto;
    height:100vh;
    margin-top:-80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.formStyle{
    max-width:600px;
    width:600px;
    margin:0 auto;
    background-color:var(--hardB);
    padding:20px 50px;
    border-radius: 1rem; 
    display: flex;
    flex-direction: column;
}


.formHeader{
    color:#ffffff;
    font-size: 40px;
    margin:0;
    padding-bottom: 30px;
}

.submitButton{
    margin:5px auto;
    margin-top:10px;
    padding:10px 20px;
    font-size:18px;
    border-radius: 0.6rem;
    border:none;
    background-color: var(--lightB);
    color:#fff;
    transition:all 200ms ease;
}


.submitButton:hover{
    cursor: pointer;
    background-color: #fff;
    color: var(--lightB);
}
.submitButton:focus{
    background-color:var(--med3);
    outline:none;
}
.submitButton:active{
    background-color:var(--med3)
}

.changeAuthButton{
    margin:5px auto;
    padding:10px 20px;
    font-size:14px;
    border-radius: 0.6rem;
    background:none;
    border:none;
    color: var(--lightB);
    transition: all 200ms ease;
}

.changeAuthButton:hover{
    cursor: pointer;
    color: #fff;
}

.changeAuthButton:active{
    color:var(--med3)
}


.namesStyle{
    display: flex;
    justify-content: space-between;
}

.namesStyle div{
    width:49%;
    
}

.errorMessage{
    color:red;
    text-align: start;
    font-size:13px;
    margin:0;
    font-weight: 100;
    margin-top:-15px;
}