body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--med2);
  max-width: 100%;
  overflow-x: hidden;
}

:root {
  --hardB: #22223B;
  --lightB: #4A4E69;
  --med1: #9A8C98;
  --med2: #C9ADA7;
  --med3: #F2E9E4;
  --med4: rgba(240, 248, 255, 0.74);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus{
  outline: none;
}

.loader {
  --b: 10px;  /* border thickness */
  --n: 20;    /* number of dashes*/
  --g: 7deg; /* gap  between dashes*/
  --c: #fff;   /* the color */
  margin:0 auto;
  width:50px; /* size */
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px; /*get rid of bad outlines*/
  background: conic-gradient(#0000,var(--c)) content-box;

  -webkit-mask: /* we use +/-1deg between colors to avoid jagged edges */
    repeating-conic-gradient(rgba(150, 77, 77, 0) 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));

  mask:
    repeating-conic-gradient(#0000 0deg,
       #000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
       #0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
    radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));

  -webkit-mask-composite: destination-in;
  mask-composite: intersect;

  animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
