.formContainer{
    padding:30px;
    background-color: var(--hardB);
    /* background-color: #4a4e69c2; */
    max-width: 600px;;
    border-radius: 1rem;
}


.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.formRow{
    display: flex;
    width:100%;
    margin-bottom:10px;
    justify-content: space-between;
}

.formRow div{
    flex-grow: 1;
    margin-right:10px;
}

.formRow div:last-child{
    margin-right:0;
}

.formRow div label{
    text-align: start;
    margin-bottom:5px;
    font-size: 14px;
    margin-left:2px;
    color:#ffffff;
}


.formStyle button{
    margin:20px auto 0px;
    padding:12px 40px;
    font-size:18px;
    border-radius: 0.6rem;
    border:none;
    background-color: var(--lightB);
    color:#ffffff;
    transition:all 200ms ease;
}

.formStyle button:hover{
    cursor: pointer;
    color:#000;
    background-color: var(--buttonHover);
    color:var(--lightB);
}
.formStyle button:active{
    background-color:var(--med3)
}

.formHeader{
    align-self: center;
    margin:0;
    color:#ffffff;
    font-size: 40px;
    align-self: center;
    padding-bottom:10px;
}  
 

.formContainer input, select {
    width: 100%;
    padding-left: 15px;
    box-sizing: border-box;
    height: 40px;
    font-size: 16px;
    border:none;
    border-radius: 0.8rem;
}
.formContainer input:focus{
    background-color: var(--med3);
}