.panelStyles{
    width:100%;
    background-color: var(--med4);
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px black;
    box-sizing: border-box;
}

.panelStyles h4 {
    text-align: start;
    font-size:22px;
    margin:0;
}

.panelStyles .colTitle {
    text-align: start;
    font-size:15px;
    margin:0;
}

.panelTitleAndButton {
    display: flex; 
    justify-content: space-between;
    padding:20px;
    background-color: var(--lightB);
    border-radius: 10px 10px 0 0;
}

.panelTitleAndButton button {
    border:none;
    background-color:var(--hardB);
    color:#ffffff;
    font-size:15px;
    padding:8px 20px;
    border-radius: 20px;
    transition: all 100ms ease-in;
}

.panelTitleAndButton button:hover{
    cursor: pointer;
    background-color:var(--buttonHover);
}
.panelTitleAndButton button:active{
    background-color:var(--med3);
}


.panelHeader{
    box-sizing: border-box;
    width:100%;
    font-size:12px;
    font-weight: 700;
    display: flex;
    /* background-color:var(--hardB); */
    background-color:#fff;
    color:#000;
    padding:8px 14px;
    min-height: 34px;
}
.panelHeader div{
    text-align: start;
}

.panelHeader div:nth-child(1){
    width:15%;
}

.panelHeader div:nth-child(2){
    width:60%;
}
.panelHeader div:nth-child(3){
    width:20%;
}

.panelHeader div:nth-child(4){
    width:5%;
}


.panelList{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0 0 16px 0;
}

.panelList li:last-child div{
    border-radius: 0 0 10px 10px;
}