.panelStyles{
    width:100%;
    background-color: var(--med4);
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px black;
    box-sizing: border-box;
}

.panelStyles h4 {
    text-align: start;
    font-size:22px;
    margin:0;
}

.panelTitleAndButton {
    display: flex; 
    justify-content: space-between;
    padding:20px;

    /* border-bottom:2px solid var(--hardB); */
}

.panelTitleAndButton button {
    border:none;
    background-color:var(--hardB);
    color:#ffffff;
    font-size:15px;
    padding:8px 20px;
    border-radius: 20px;
    transition: all 100ms ease-in;
}

.panelTitleAndButton button:hover{
    cursor: pointer;
    background-color:var(--med2);
}
.panelTitleAndButton button:active{
    background-color:var(--med3);
}
